* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
  
  .container {
    width: 98vw;
    height: 98vh;
    background-color: hsl(226, 37%, 7%);
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .content {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 20px;
    grid-template-areas: 
    "one two three four"
    "one five six seven"
    ;
  }
  
  .one {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    color: #fff;
    grid-area: one;
  }
  .one-content {
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
    padding: 30px;
    /* padding-bottom: 100px; */
  }
  .one img {
    width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
  }
    .detail{
      color: hsl(236, 100%, 87%);
    }
    .profile-detail {
      margin-top: 20px;
    }
    .name p {
      font-size: 40px;
    }
    .frequency {
      padding: 30px;
    }
    .frequency p {
      color: hsl(236, 100%, 87%);
      padding-top: 20px;
    }
    #white {
      color: #fff;
      font-weight: 500;
    }
  
  .two {
    background-color: hsl(15, 100%, 70%);
    border-radius: 15px;
    grid-area: two;
  }
   .upper {
    display: flex;
    justify-content: flex-end;
  }
    .upper img {
      width: 45px;
    } 
  .two-content {
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
    height: 85%;
    color: #fff;
  }
    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }
    .heading {
      font-size: 18px;
      font-weight: 900;
    }
    .header img {
      width: 20px;
      height:5px;
    }
    .info {
      padding-left: 20%;
    }
    .large-time {
      font-size: 3em;
      margin-bottom: 15px;
      font-weight: 300;
    }
    .time {
      color: hsl(236, 100%, 87%);
    }
    
  
  .three {
    background-color: hsl(195, 74%, 62%);
    border-radius: 15px;
    grid-area: three;
  }
  
  .four {
    background-color: hsl(348, 100%, 68%);
    border-radius: 15px;
    grid-area: four;
    
  }
  
  .five {
    background-color: hsl(145, 58%, 55%);
    border-radius: 15px;
    grid-area: five;
  }
    .exercise img {
      width: 54px;
    }
  
  .six {
    background-color: hsl(264, 64%, 52%);
    border-radius: 15px;
    grid-area: six;
  }
    .social img {
      width: 28px;
      
    }
  
  .seven {
    background-color: hsl(43, 84%, 65%);
    border-radius: 15px;
    grid-area: seven;
  }
   .self-care img {
    width: 38px;
   }